[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExclusionTable"]
	path = ExclusionTable
	url = https://github.com/entjos/exclusiontable
[submodule "JointFPM"]
	path = JointFPM
	url = https://github.com/entjos/jointfpm
